XML/EZTIA/EZTIA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Eztia">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Data_record"/>
          <xs:complexType>
            <xs:sequence>
                <xs:element name="ID_Produktua" type="xs:int" />
                <xs:element name="ID_Lorea" type="xs:int" />
                <xs:element name="Ezti_mota" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
