XML/ASOZIAZIOAK/ASOZIAZIOAK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Asoziazioak">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Data_record"/>
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="ID_Asoziazioa" type="xs:int"/>
                    <xs:element name="Asoziazio_izena" type="xs:int"/>
                    <xs:element name="Herrialdea" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
